/* .AboutServices {
	padding: 40px 0px;
	border-radius: 10px;
	background: linear-gradient(
		to right,
		rgba(255, 255, 255, 0.5) 0%,
		rgba(255, 255, 255, 0.5) 5%,
		white 31%,
		white 70%,
		rgba(255, 255, 255, 0.5) 95%,
		rgba(255, 255, 255, 0.5) 100%
	);
	margin: 0px 20px;
	box-shadow: 0px 0px 10px white;
} */

.servicesItem {
	display: flex;
	height: 500px;
}

.servicesItem__image {
	overflow: hidden;
	position: relative;
	height: 100%;
	flex: 0 0 50%;
}
.servicesItem__image img {
	object-position: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.content {
	flex: 0 0 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.content__title {
	text-align: center;
}

.content__text {
	max-width: 80%;
	text-align: justify;
}
