.about {
	margin-top: 20px;
}

/* 
.about p {
	font-family: LoraRegular;
	font-size: 1.1em;
	text-align: justify;
	margin-bottom: 10px;
}
.about ul {
	list-style: none;
	font-family: LoraRegular;
	font-size: 1.1em;
}
.about li {
	position: relative;
	display: flex;
	align-items: flex-start;
	width: 100%;
	margin-bottom: 4px;
	z-index: 10;
}
.about li::before {
	content: "";
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	background: url(./../../../img/common/blueArrow.png);
	background-position: center;
	background-size: cover;
	left: -35px;
	top: 3px;
}  */

.about__title {
	margin-bottom: 10px;
	font-size: 1.9em;
	font-family: SourceSansProBold;
}
.flexImages {
	display: flex;
	justify-content: space-around;
	margin: 15px 0px;
}
.flexImages div {
	transition: 0.5s;
	cursor: pointer;
}
.flexImages div:hover {
	transform: scale(1.1);
}

/* .organizationFoto__item img {
	max-width: 100%;
	height: 100%;
} */

.technic__item {
	max-width: 350px;
}
.technic__item img {
	max-width: 100%;
	height: 100%;
}

/* slider style */

.sliderContainer {
}

.slide__item {
	margin-right: 10px;
}

@media (max-width: 1280px) {
	.sliderContainer {
		margin: 0 auto;
		max-width: 80vw;
	}
	.slide__item {
	}
	.slide__item img {
		max-width: 100%;
	}
}
@media (max-width: 670px) {
	.slide__item {
		margin-right: 0px;
	}
}

/* /slider style */
