header {
	position: static;
	width: 100vw;
	height: 100px;
	/* 	display: flex;
	justify-content: space-between; */
	padding: 0px 30px;
	padding-bottom: 0px;
	align-items: center;
	background: white;
	background: transparent;
}
.header__top {
	display: flex;
	padding-top: 5px;
	padding-right: 25px;
}
.header__top_item {
	width: 180px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.header__top_text {
	color: #0454ac;
}
.header__top_text a {
	color: #0454ac;
}

.header__top_flexGrow {
	flex-grow: 1;
}

.header__icon {
	width: 20px;
	height: 20px;
}

.header__bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo a {
	display: block;
	background: url("./../../img/logo.jpg") no-repeat;
	background-size: cover;
	width: 270px;
	height: 50px;
}

.nav {
	display: flex;
	justify-content: space-around;
	height: 100%;
	line-height: 60px;
}

.nav__item {
	text-align: center;
	height: 100%;
	transition: 0.3s;
}

.nav__item a {
	display: block;
	font-family: "Bebas";
	color: black;
	font-size: 22px;
	padding: 0px 20px;
}

.nav__item:hover {
	background: #2e9cdb;
}

.nav__item a:hover {
	color: white;
}
.nav__item__services {
	position: relative;
}
.dropMenu {
	position: absolute;
	transform: translateX(-25%);
	width: 500px;
	display: none;
	animation: show;
}
.dropMenu__item {
	display: block;
	line-height: 1.2;
	background: white;
	text-align: left;
	transition: 0.3s;
}

.dropMenu__item:first-child {
	margin-top: 10px;
}

.dropMenu__item a {
	padding: 7px 10px;
}
.dropMenu__item:hover {
	background: #2e9cdb;
}
.dropMenu__item a:hover {
	color: white;
}

.nav__item__services:hover .dropMenu {
	display: block;
	animation: show 0.5s;
}
.nav__item__services:hover > a {
	color: white;
}

/* 
Бургер меню
 */

/* Кнопка */

.burgerMenuButton {
	display: none;
}

.nav__icon3 {
	width: 60px;
	height: 45px;
	position: relative;
	margin: 30px auto;
	transform: rotate(0deg);
	transition: 0.5s ease-in-out;
	cursor: pointer;
}
.nav__icon3 span {
	display: block;
	position: absolute;
	height: 9px;
	width: 100%;
	background: #337ab7;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	transform: rotate(0deg);
	transition: 0.25s ease-in-out;
}
.nav__icon3 span:nth-child(1) {
	top: 0px;
}
.nav__icon3 span:nth-child(2),
.nav__icon3 span:nth-child(3) {
	top: 18px;
}
.nav__icon3 span:nth-child(4) {
	top: 36px;
}
.nav__icon3.open span:nth-child(1) {
	top: 18px;
	width: 0%;
	left: 50%;
}
.nav__icon3.open span:nth-child(2) {
	transform: rotate(45deg);
}
.nav__icon3.open span:nth-child(3) {
	transform: rotate(-45deg);
}
.nav__icon3.open span:nth-child(4) {
	top: 18px;
	width: 0%;
	left: 50%;
}

/* /Кнопка */

/* Меню */
.burgerMenu {
	overflow: auto;
	position: fixed;
	background: white;
	transform: translateX(200%);
	top: 100px;
	width: 50vw;
	height: 100vh;
	transition: 0.5s ease-in-out;
}

.burgerMenu.burgerMenuOpen {
	transform: translateX(100%);
}

.burgerMenu a {
	display: block;
	font-family: "Bebas";
	border-left: 20px solid #7fc0e0;
	color: black;
	font-size: 30px;
	padding: 10px 20px;
}
.accordeonButton {
	display: flex;
	align-items: center;
}

.accordeonButton__arrow {
	margin-left: 30px;
	display: block;
	width: 20px;
	transform: rotate(-90deg);
	transition: 0.3s;
}
.transformArrow {
	transform: rotate(0deg);
}

.burgerMenu__dropMenu {
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: 0.5s ease-out;
}
.dropMenuBurger__item a {
	border-left: 20px solid #0e65bc;
	padding-left: 40px;
}

.burgerMenu__open {
	max-height: 2000px;
	opacity: 1;
	display: block;
}

/* /Меню */

/* 
/Бургер меню
 */

@media (max-width: 1280px) {
	.nav {
		display: none;
	}
	.burgerMenuButton {
		display: block;
	}
	.header__bottom {
		margin-top: -15px;
	}
	/* .header__top_flexGrow {
		flex-grow: 0;
	} */
}
@media (max-width: 658px) {
	.burgerMenu {
		width: 70vw;
		transform: translateX(250%);
	}

	.burgerMenu.burgerMenuOpen {
		transform: translateX(43%);
	}

	.burgerMenu a {
		font-size: 21px;
		margin-right: 10px;
		padding-left: 20px;
	}
	.dropMenuBurger__item a {
		padding-left: 30px;
	}
}

@media (max-width: 420px) {
	.header__top_item {
		font-size: 13px;
		letter-spacing: 0px;
		width: 150px;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	.header__top {
		padding-right: 0px;
	}
}

@media (max-width: 370px) {
	.header__logo a {
		background: url("./../../img/simpleLogo.jpg") no-repeat;
		background-size: cover;
		width: 50px;
		height: 50px;
	}
}

@keyframes show {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
