header {
	position: static;
	width: 1280px;
	height: 60px;
	display: flex;
	justify-content: space-between;
	padding: 0px 10px;
	padding-bottom: 0px;
	align-items: center;
	background: white;
	background: transparent;
}
.header__logo {
	width: 250px;
}

.nav {
	display: flex;
	justify-content: space-around;
	height: 100%;
	line-height: 60px;
}

.nav__item {
	text-align: center;
	height: 100%;
	transition: 0.3s;
}

.nav__item a {
	display: block;
	font-family: "Bebas";
	color: black;
	font-size: 22px;
	padding: 0px 20px;
}

.nav__item:hover {
	background: #2e9cdb;
}

.nav__item a:hover {
	color: white;
}
.nav__item__services {
	position: relative;
}
.dropMenu {
	position: absolute;
	transform: translateX(-25%);
	width: 300px;
	display: none;
	animation: show;
}
.dropMenu__item {
	display: block;
	line-height: 1.2;
	background: white;
	text-align: left;
	transition: 0.3s;
}
.dropMenu__item a {
	padding: 7px 10px;
}
.dropMenu__item:hover {
	background: #2e9cdb;
}
.dropMenu__item a:hover {
	color: white;
}

.nav__item__services:hover .dropMenu {
	display: block;
	animation: show 0.5s;
}

@keyframes show {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
