/* Обнуляющие стили */
/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
	padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
	list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
	max-width: 100%;
	display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
	margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}
a {
	text-decoration: none;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
/* /Обнуляющие стили  */

@font-face {
	font-family: Bebas;
	src: url(./fonts/Bebas.ttf);
}
@font-face {
	font-family: SourceSansProBold;
	src: url(./fonts/SourceSansProBold.ttf);
	font-weight: 700;
}
@font-face {
	font-family: LoraRegular;
	src: url(./fonts/LoraRegular.ttf);
}
@font-face {
	font-family: LombardinaTwo;
	src: url(./fonts/LombardinaTwo.ttf);
}
@font-face {
	font-family: GoodTime;
	src: url(./fonts/GoodTime.otf);
}

/* Шрифты для заголовков */

@font-face {
	font-family: PlayfairDisplaySC;
	src: url(./fonts/PlayfairDisplaySC.ttf);
}
/* /шрифты для заголовков */

body {
	/* max-width: 100vw; */
	height: 100vh;
	background: rgba(240, 248, 255, 0.95);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.wrapper {
	margin: 0 auto;
}
.header {
	display: flex;
	justify-content: center;
	max-width: 100%;
	background: white;
	position: sticky;
	top: 0px;
	left: 0px;
	z-index: 100;
}

.content {
	max-width: 100vw;
	height: 100%;
	margin: 0px auto;
	font-family: LoraRegular;
	/* padding: 20px 30px; */
	background: rgba(240, 248, 255, 0.95);
}

.content p {
	font-family: LoraRegular;
	font-size: 1.1em;
	text-align: justify;
	margin-bottom: 10px;
}
.content ul {
	list-style: none;
	font-family: LoraRegular;
	font-size: 1.1em;
}
.content li {
	position: relative;
	display: flex;
	align-items: flex-start;
	max-width: 100%;
	margin-bottom: 4px;
	z-index: 10;
}
.content li::before {
	content: "";
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	background: url(./img/common/blueArrow.png);
	background-position: center;
	background-size: cover;
	left: -35px;
	top: 3px;
}

.content h3 {
	margin-bottom: 10px;
	font-size: 1.9em;
	font-family: SourceSansProBold;
}
